In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
print("liabriries imported")

liabriries imported

In [3]:
data=pd.read_csv("googleplaystore.csv")
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [4]:
data.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
data.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

### handling Missing Values 


Methods for Handling Missing Values
There are several ways to handle missing values:

Removing Data

Removing columns with too many missing values.

Removing rows that contain missing values.

Filling Missing Values (Imputation)

For numerical data: Use mean, median, or mode.

For categorical data: Use mode or introduce a new category.

Advanced Imputation Techniques

Interpolation to estimate missing values.

Predictive models to estimate missing values based on other variables.

In [7]:
df1=pd.read_csv("AB_NYC_2019.csv")
df1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [8]:
df1.shape

(48895, 16)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [10]:
df1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [11]:
df2=df1.copy()
df2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

### 1. removing the rows from the dataset

In [13]:
df2.dropna(inplace=True)
df2

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48782,36425863,Lovely Privet Bedroom with Privet Restroom,83554966,Rusaa,Manhattan,Upper East Side,40.78099,-73.95366,Private room,129,1,1,2019-07-07,1.00,1,147
48790,36427429,No.2 with queen size bed,257683179,H Ai,Queens,Flushing,40.75104,-73.81459,Private room,45,1,1,2019-07-07,1.00,6,339
48799,36438336,Seas The Moment,211644523,Ben,Staten Island,Great Kills,40.54179,-74.14275,Private room,235,1,1,2019-07-07,1.00,1,87
48805,36442252,1B-1B apartment near by Metro,273841667,Blaine,Bronx,Mott Haven,40.80787,-73.92400,Entire home/apt,100,1,2,2019-07-07,2.00,1,40
48852,36455809,"Cozy Private Room in Bushwick, Brooklyn",74162901,Christine,Brooklyn,Bushwick,40.69805,-73.92801,Private room,30,1,1,2019-07-08,1.00,1,1

In [14]:
df2.shape

(38821, 16)

#### 2. Removing the particular column having missing values

In [16]:
df3=df1.copy()
df3

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [17]:
df1.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [18]:
df3.drop("last_review",axis=1,inplace=True)
df3

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,1,23

### 3. Imputation method 

replacing the null values using the mean value of that column but this method can only be used for 
the numerical value

In [20]:
df4=df1.copy()

In [21]:
mean_value=df4["reviews_per_month"].mean()

In [22]:
import numpy as np

In [23]:
df4['reviews_per_month'].fillna(mean_value, inplace=True)

C:\Users\codin\AppData\Local\Temp\ipykernel_2268\2672350461.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['reviews_per_month'].fillna(mean_value, inplace=True)

In [24]:
df4.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [25]:
df4.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
29900,23018280,Cozy studio with a fireplace close to the train,10836962,Katya,Bronx,Pelham Bay,40.85407,-73.83264,Entire home/apt,69,3,69,2019-06-19,4.210000,1,21
34305,27217551,EAST 25TH ST~KIPS BAY/EAST VILLAGE/UNION SQUARE,200380610,Pranjal,Manhattan,Kips Bay,40.73863,-73.98002,Entire home/apt,210,30,0,NaN,1.373221,65,364
4423,3010577,Old World Garden Apartment,550520,Kendall,Brooklyn,East Flatbush,40.65262,-73.94867,Entire home/apt,115,30,43,2019-07-01,0.700000,1,78
9900,7620355,Sunny large room in Bushwick,38670785,Maxime,Brooklyn,Bushwick,40.70189,-73.92872,Private room,68,1,1,2015-08-31,0.020000,1,0
47778,35911322,Dope Yurt in Brooklyn,1648806,Maraliz,Brooklyn,Williamsburg,40.71358,-73.94092,Private room,60,1,0,NaN,1.373221,2,173
40953,31858749,"Quiet, comfortable & bright apt in East Village",2582224,Daniel,Manhattan,East Village,40.72749,-73.98674,Entire home/apt,150,5,1,2019-04-30,0.430000,1,249
35000,27746387,Gorgeous bright spacious loft apt in Brooklyn,27780735,Susan,Brooklyn,Bushwick,40.69815,-73.92841,Entire home/apt,110,1,2,2018-12-23,0.190000,1,0
12948,9841695,"Beautiful , Peaceful , Paradise",50678424,Don,Brooklyn,Bedford-Stuyvesant,40.68777,-73.94793,Entire home/apt,206,1,35,2019-01-01,0.810000,2,365
12844,9793542,Stunning SoHo 1400sqft LOFT/DUPLEX on Best Street,50472471,Allegra,Manhattan,SoHo,40.72090,-74.00229,Entire home/apt,799,3,16,2019-04-28,0.400000,1,365
35795,28409473,CoZy room with your own bathroom/entrance in UES!,109378554,Adele,Manhattan,Upper East Side,40.77016,-73.95632,Private room,149,2,32,2019-06-12,3.210000,1,75

#### now using the mode method to fill the null values and this can be used for categorical data

In [27]:
df4.head(12)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.590000,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.400000,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.470000,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.990000,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.330000,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.430000,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.500000,1,39

In [28]:
df4.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [29]:
df4["last_review"]

0        2018-10-19
1        2019-05-21
2               NaN
3        2019-07-05
4        2018-11-19
            ...
48890           NaN
48891           NaN
48892           NaN
48893           NaN
48894           NaN
Name: last_review, Length: 48895, dtype: object

In [30]:
df4["last_review"].describe()

count          38843
unique          1764
top       2019-06-23
freq            1413
Name: last_review, dtype: object

In [31]:
df4["last_review"].fillna(df4["last_review"].value_counts().index[0],inplace=True)

In [32]:
df4

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.373221,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.373221,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.373221,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.373221,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.373221,1,23

In [33]:
df4.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [34]:
from sklearn.impute import SimpleImputer
import numpy as np

In [35]:
df4

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.373221,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.373221,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.373221,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.373221,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.373221,1,23

(iii) handling the categorical values using simpleImputer

In [37]:
imputer=SimpleImputer(missing_values=np.nan, strategy="most_frequent")
new_hostname=imputer.fit(np.array(df4[["host_name"]]))
new_hostname=imputer.transform(np.array(df4[["host_name"]]))
df4[["host_name"]]=new_hostname
df4

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.373221,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.373221,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.373221,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.373221,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.373221,1,23

In [38]:
df4.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

#### Removing the null values using iloc function

In [40]:
df4.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                          0
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [41]:
df4["name"].unique()

array(['Clean & quiet apt home by the park', 'Skylit Midtown Castle',
       'THE VILLAGE OF HARLEM....NEW YORK !', ...,
       'Sunny Studio at Historical Neighborhood',
       '43rd St. Time Square-cozy single bed',
       "Trendy duplex in the very heart of Hell's Kitchen"], dtype=object)

In [42]:
len(df4["name"].unique())

47906

In [43]:
impute=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
update_name=impute.fit(df4.iloc[ :,1:2])
update_name=impute.transform(df4.iloc[ :,1:2])
update_name

array([['Clean & quiet apt home by the park'],
       ['Skylit Midtown Castle'],
       ['THE VILLAGE OF HARLEM....NEW YORK !'],
       ...,
       ['Sunny Studio at Historical Neighborhood'],
       ['43rd St. Time Square-cozy single bed'],
       ["Trendy duplex in the very heart of Hell's Kitchen"]],
      dtype=object)

In [44]:
impute.transform(df4.iloc[ :,1:2])
impute.transform(df4.iloc[ :,1:2])

array([['Clean & quiet apt home by the park'],
       ['Skylit Midtown Castle'],
       ['THE VILLAGE OF HARLEM....NEW YORK !'],
       ...,
       ['Sunny Studio at Historical Neighborhood'],
       ['43rd St. Time Square-cozy single bed'],
       ["Trendy duplex in the very heart of Hell's Kitchen"]],
      dtype=object)

In [45]:
update_name
df4[["name"]]=update_name

In [46]:
df4.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [47]:
df4.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

#### 4. Advance Imputation method to removing the null values

More advanced methods, such as interpolation, can estimate missing values.




df3["reviews_per_month"].interpolate(inplace=True)

Interpolation fills missing values by estimating based on surrounding data.

In [49]:
df5=df1.copy()
df5

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [50]:
## Performing the interpolation in last_review date
df5["last_review"].interpolate(inplace=True)
df5
# innterpolate method is only work for the categorical data

C:\Users\codin\AppData\Local\Temp\ipykernel_2268\1672444496.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df5["last_review"].interpolate(inplace=True)
C:\Users\codin\AppData\Local\Temp\ipykernel_2268\1672444496.py:2: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df5["last_review"].interpolate(inplace=True)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [51]:
df5.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [52]:
df5["reviews_per_month"].interpolate(inplace=True)

C:\Users\codin\AppData\Local\Temp\ipykernel_2268\3352606413.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df5["reviews_per_month"].interpolate(inplace=True)

#####

In [54]:
df5.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

### 5. Assigning a New Category for Categorical Data

    
<p>
    Instead of using mode,
    we can introduce a new category like "Not Reviewed".using fillna()
</p>

In [56]:
df6=df5.copy()
df6.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,2.51,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [57]:
df6.sample(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
19190,15268654,NEW & PRIVATE 2 bedroom apt in stately townhouse,67213712,Ken,Brooklyn,Gowanus,40.68255,-73.98990,Entire home/apt,400,30,118,2019-06-06,3.530000,1,265
37384,29674710,Great New York-korea town1~2,179336958,Ruby,Manhattan,Midtown,40.74595,-73.98509,Private room,65,3,3,2019-06-03,1.530000,6,359
4383,2965008,Family Friendly Brooklyn House,37879,Jeffrey,Brooklyn,Gowanus,40.67024,-73.99351,Entire home/apt,299,3,13,2019-04-24,0.560000,1,346
17071,13543160,"Modern, Elegant, Private, Two-bedroom",49966,Sarah,Brooklyn,Bedford-Stuyvesant,40.69068,-73.95465,Entire home/apt,175,3,6,2018-04-08,0.170000,1,0
45867,34981637,bay ridge & sunset park furnished apartment,263564234,Nony,Brooklyn,Bay Ridge,40.63087,-74.02006,Entire home/apt,4200,60,0,NaN,4.666667,1,90
30955,23989379,Central Harlem Sanctuary for the Bookish Type(s),180467103,Chloé,Manhattan,Harlem,40.82847,-73.93701,Entire home/apt,90,7,1,2018-11-27,0.130000,1,24
10921,8424350,Cozy 2BR apt in Midtown West/Chelsea/Hells Kit...,41808609,Emma,Manhattan,Hell's Kitchen,40.75711,-73.99665,Entire home/apt,235,2,20,2018-01-02,0.430000,1,0
30255,23369859,Beautiful cozy full 1 bedroom suite/apartment,59514172,Rezaur,Queens,Ozone Park,40.67984,-73.84403,Entire home/apt,120,1,35,2019-06-30,2.180000,1,356
42429,32928652,Big Room in Times Square,17577495,Ramiro & Jeff,Manhattan,Hell's Kitchen,40.76135,-73.98698,Private room,140,3,3,2019-06-24,1.670000,3,45
1704,772362,TIMES SQ/THEATRE DIST STUDIO,2631234,Frank,Manhattan,Hell's Kitchen,40.76078,-73.99076,Entire home/apt,165,3,276,2019-07-06,3.440000,1,146

In [58]:
df6["last_review"].fillna("not_reviewd",inplace=True)
df6.isnull().sum()

C:\Users\codin\AppData\Local\Temp\ipykernel_2268\861860976.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6["last_review"].fillna("not_reviewd",inplace=True)

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [59]:
count=0
df6.sample(12)
for i in df6["last_review"]:
    if i=="not_reviewd":
        count=count+1
print(count)

10052

In [60]:
df6

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,not_reviewd,2.51,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,not_reviewd,1.00,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,not_reviewd,1.00,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,not_reviewd,1.00,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,not_reviewd,1.00,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,not_reviewd,1.00,1,23

In [61]:
for review in df6["last_review"].unique():
    count=0
    for i in df6["last_review"]:
        if i==review:
            count=count+1
    print(review,count)

2018-10-19 9
2019-05-21 117
not_reviewd 10052
2019-07-05 580
2018-11-19 21
2019-06-22 655
2017-10-05 1
2019-06-24 875
2017-07-21 9
2019-06-09 383
2019-06-23 1413
2018-10-31 35
2019-06-29 529
2019-06-28 399
2019-07-01 1359
2011-12-28 1
2019-01-01 398
2019-07-02 658
2019-06-19 426
2017-08-13 17
2019-06-15 370
2019-04-19 39
2019-06-01 262
2019-06-14 263
2019-05-12 117
2019-06-21 529
2019-05-27 347
2018-09-30 67
2019-06-16 601
2019-06-13 222
2019-06-05 129
2019-05-25 151
2017-01-01 101
2019-06-17 376
2019-07-07 718
2019-05-17 84
2019-03-25 37
2019-05-18 117
2019-06-04 158
2019-06-30 1341
2018-11-03 20
2019-03-30 40
2019-01-26 11
2017-09-30 26
2019-05-16 68
2017-09-24 14
2018-05-14 8
2019-06-18 340
2019-06-26 390
2019-01-02 299
2019-07-06 565
2019-05-31 288
2019-05-28 169
2019-04-22 78
2019-03-23 25
2019-04-08 41
2016-08-04 7
2018-08-09 14
2016-02-14 4
2019-05-26 263
2019-06-27 334
2018-07-22 32
2018-10-09 26
2019-05-01 73
2018-10-28 45
2019-01-03 136
2012-11-01 2
2019-05-29 101
2018-11-02 21
2018-05-26 17
2017-03-17 4
2019-06-02 291
2017-12-11 14
2018-12-30 119
2017-08-09 7
2015-12-02 4
2019-04-27 86
2019-06-07 155
2019-05-20 173
2011-12-10 1
2018-10-05 11
2011-09-18 1
2017-08-15 18
2017-08-17 10
2019-05-14 58
2019-06-20 421
2019-07-03 426
2019-06-25 423
2017-07-30 35
2018-06-11 11
2016-04-24 6
2011-09-19 1
2013-05-10 1
2018-08-27 48
2017-05-29 24
2019-03-31 105
2018-12-27 33
2018-12-31 120
2019-06-08 249
2019-04-12 27
2011-04-25 1
2016-09-23 10
2015-11-02 19
2019-07-04 330
2016-07-06 21
2016-04-20 4
2018-12-17 25
2019-05-19 260
2012-09-03 1
2015-07-17 2
2017-11-13 8
2015-05-09 2
2015-10-08 3
2014-01-07 2
2019-06-06 124
2018-12-05 10
2019-06-10 298
2019-06-03 236
2019-05-24 114
2019-05-08 64
2012-09-17 1
2016-01-05 60
2019-05-11 82
2018-09-29 29
2019-06-11 208
2018-10-07 67
2017-08-25 9
2015-12-12 3
2017-07-27 11
2019-04-30 117
2016-08-29 15
2018-08-19 37
2019-01-07 47
2019-01-05 59
2013-05-02 1
2019-02-16 18
2019-05-06 89
2018-07-06 12
2016-11-13 10
2019-01-10 10
2014-05-13 1
2019-02-15 23
2015-11-25 8
2012-08-22 1
2011-03-28 1
2016-02-05 1
2019-04-20 45
2016-03-27 11
2018-09-25 20
2011-05-12 1
2016-09-16 3
2018-09-03 41
2018-08-26 43
2019-01-14 19
2016-07-18 13
2018-12-26 31
2012-01-03 1
2019-07-08 89
2019-03-01 23
2018-01-01 167
2018-05-19 17
2015-09-21 17
2013-01-01 2
2016-01-02 75
2018-12-28 37
2018-09-24 24
2016-05-02 6
2014-11-06 1
2014-08-04 2
2017-12-26 16
2016-06-06 10
2019-05-30 117
2018-07-08 23
2019-01-31 24
2017-05-25 10
2018-01-13 9
2013-10-01 1
2014-11-10 2
2014-06-06 1
2013-05-31 1
2018-12-11 17
2019-02-12 15
2018-11-16 6
2018-05-08 14
2019-05-02 35
2017-10-08 18
2015-03-13 1
2014-08-31 5
2017-12-31 45
2018-08-29 23
2018-08-23 19
2015-08-08 6
2018-05-13 20
2018-08-24 14
2013-10-15 1
2017-04-18 11
2016-02-15 11
2015-10-01 8
2018-01-03 57
2018-05-05 9
2018-10-23 13
2019-05-07 63
2019-04-13 28
2018-12-01 27
2019-04-04 17
2019-04-29 80
2018-12-03 18
2015-08-28 4
2016-01-01 39
2018-10-20 18
2018-01-12 5
2014-04-20 1
2019-03-28 16
2018-05-21 18
2017-06-18 13
2019-06-12 201
2015-06-14 2
2018-04-30 28
2016-12-26 8
2016-09-18 14
2015-09-17 3
2016-11-15 7
2015-08-31 15
2018-04-25 6
2016-06-23 9
2019-04-21 118
2018-02-08 6
2018-11-14 10
2019-01-19 21
2017-10-14 10
2015-06-03 2
2015-07-20 5
2019-02-28 33
2017-01-05 16
2019-03-15 23
2018-09-15 16
2018-10-26 16
2015-01-02 17
2018-07-05 16
2018-08-14 22
2012-01-02 1
2015-10-02 4
2013-07-09 1
2018-07-31 37
2017-07-31 30
2019-04-26 55
2018-05-28 39
2019-04-14 45
2019-04-28 121
2014-10-06 1
2018-05-18 20
2018-12-19 13
2017-07-09 6
2019-04-01 46
2016-10-02 12
2015-08-17 14
2017-06-28 9
2015-07-03 7
2014-12-03 2
2017-09-25 14
2019-05-23 107
2018-09-01 26
2018-11-06 9
2015-06-25 3
2018-11-26 22
2019-04-25 37
2018-07-26 16
2015-11-03 8
2018-04-19 5
2015-12-04 3
2014-01-13 2
2019-01-28 17
2017-08-12 19
2019-04-10 31
2015-12-30 23
2014-10-26 3
2018-06-30 27
2019-05-22 92
2017-08-28 24
2015-05-27 2
2017-04-01 5
2017-12-30 44
2019-01-27 23
2015-08-19 8
2017-05-03 7
2015-01-08 3
2015-11-01 12
2019-03-19 19
2018-07-12 5
2019-01-21 21
2013-09-24 1
2019-01-15 20
2019-03-27 19
2015-09-07 12
2015-09-08 11
2018-01-02 117
2018-10-27 28
2016-09-01 16
2019-05-13 88
2017-12-29 21
2017-06-20 10
2013-04-21 2
2017-03-18 3
2018-04-10 8
2014-10-31 2
2012-10-02 1
2018-08-10 23
2016-08-03 3
2018-11-12 23
2013-05-06 2
2018-08-03 18
2013-09-11 1
2015-10-31 6
2017-08-01 13
2016-09-05 28
2016-08-11 7
2016-11-26 18
2014-09-09 2
2018-04-15 17
2016-08-30 9
2018-09-12 9
2019-04-23 55
2015-05-20 5
2014-03-24 1
2017-09-21 10
2018-10-10 16
2013-12-04 1
2016-11-08 3
2018-04-02 15
2016-03-26 8
2019-05-04 81
2017-06-24 15
2019-02-08 15
2017-12-10 25
2018-12-22 20
2015-11-16 5
2017-01-02 83
2016-05-14 6
2019-05-03 38
2015-08-23 8
2018-07-16 20
2012-06-07 1
2016-07-13 7
2015-05-31 3
2014-10-28 1
2018-06-19 16
2018-11-04 42
2019-04-07 65
2014-06-09 2
2018-07-30 26
2018-12-29 72
2014-09-04 2
2019-04-24 57
2015-10-12 21
2017-04-14 3
2018-12-04 13
2018-10-24 13
2015-05-15 5
2016-01-03 66
2018-09-04 24
2019-03-04 19
2018-11-09 11
2015-09-30 8
2019-05-05 135
2018-10-08 51
2013-06-22 1
2015-11-17 3
2017-09-05 17
2016-12-04 5
2017-06-30 13
2016-10-11 6
2016-10-22 9
2019-02-14 10
2019-05-09 59
2018-09-26 19
2019-03-24 61
2016-05-31 9
2019-03-13 13
2016-10-30 10
2017-08-11 8
2016-05-21 10
2019-04-02 20
2015-05-21 4
2015-10-06 5
2017-01-31 6
2014-08-22 2
2016-09-28 7
2018-11-25 49
2017-10-03 6
2016-12-24 3
2015-10-07 8
2018-08-22 17
2017-04-17 16
2018-03-27 7
2014-08-21 3
2016-01-09 8
2018-12-15 23
2015-08-16 10
2018-06-23 15
2013-11-01 2
2014-12-31 4
2018-08-16 17
2018-09-19 13
2015-10-04 7
2016-05-12 5
2018-03-24 7
2018-12-16 50
2012-05-29 1
2015-12-22 6
2018-12-12 25
2013-09-01 1
2016-05-23 15
2019-01-04 73
2017-02-19 9
2015-07-27 6
2019-03-09 30
2018-10-11 13
2019-01-06 48
2014-05-20 2
2017-11-04 8
2012-12-30 1
2019-02-20 18
2014-06-30 2
2016-08-21 9
2018-03-02 7
2017-03-29 2
2016-10-09 21
2013-03-31 1
2017-05-30 7
2018-07-23 15
2017-05-07 14
2018-10-22 26
2019-02-23 25
2013-07-14 1
2017-07-01 25
2014-09-03 1
2012-06-22 1
2019-03-22 14
2015-09-20 1
2016-05-09 7
2012-07-11 2
2013-01-04 2
2015-08-15 3
2019-05-15 75
2016-04-28 4
2012-12-25 1
2012-12-31 1
2015-06-28 6
2018-07-04 7
2018-09-10 16
2018-09-14 18
2014-06-28 2
2018-10-18 11
2014-07-08 1
2018-10-15 27
2015-06-12 3
2019-01-20 22
2018-08-07 16
2015-08-07 10
2016-05-16 11
2015-05-25 6
2017-08-10 7
2019-05-10 72
2016-04-22 6
2016-12-05 6
2012-09-05 1
2017-02-15 3
2016-12-28 7
2016-10-03 11
2014-04-15 1
2017-08-22 10
2012-09-14 1
2018-08-05 28
2017-06-01 7
2018-11-13 9
2016-07-01 16
2013-06-20 1
2017-05-08 13
2015-03-31 2
2012-08-10 1
2014-04-27 1
2016-07-15 7
2016-11-18 7
2015-10-11 15
2018-10-21 32
2017-01-25 2
2015-12-29 11
2014-10-18 2
2015-12-07 7
2019-04-18 27
2018-06-05 7
2015-12-31 16
2015-10-18 7
2017-07-29 13
2017-11-21 5
2018-09-13 16
2018-08-21 18
2015-10-28 7
2013-09-04 2
2015-10-13 9
2014-04-22 2
2015-09-28 13
2018-06-04 14
2013-04-03 1
2016-01-11 3
2015-09-23 3
2012-09-18 2
2019-04-06 29
2013-03-08 1
2012-09-23 1
2015-09-25 4
2016-12-08 5
2013-12-25 1
2015-08-25 10
2016-12-31 27
2016-08-15 19
2018-08-15 22
2015-10-24 11
2012-08-25 1
2018-07-09 11
2018-01-04 37
2016-05-07 8
2016-01-28 3
2013-07-11 1
2018-06-24 26
2017-08-03 8
2015-07-16 4
2018-08-31 46
2019-01-18 15
2018-12-20 18
2017-10-15 24
2017-05-20 12
2017-05-18 8
2018-01-25 7
2018-09-07 11
2016-08-26 11
2019-04-15 48
2017-12-08 17
2017-10-06 8
2018-12-10 24
2015-04-11 1
2017-08-29 16
2013-08-08 1
2019-03-12 11
2018-09-02 30
2015-05-14 1
2019-03-17 42
2017-04-16 11
2014-05-19 2
2018-06-25 20
2015-10-05 8
2018-09-18 14
2017-08-21 16
2015-08-29 10
2017-12-12 11
2016-03-15 5
2018-11-01 26
2018-12-07 21
2016-05-25 6
2017-05-26 5
2018-08-02 9
2015-08-02 7
2018-07-24 14
2018-09-16 26
2018-09-05 12
2017-12-15 7
2013-01-05 1
2015-07-06 6
2016-10-15 6
2015-12-28 17
2015-12-13 9
2015-10-27 11
2017-05-22 16
2015-04-28 3
2015-05-23 2
2014-11-03 2
2015-03-02 1
2016-12-27 9
2017-04-30 18
2012-11-10 1
2018-06-29 19
2016-05-01 13
2014-09-22 3
2019-02-11 19
2016-04-21 4
2018-06-28 12
2015-10-19 12
2016-04-23 5
2014-04-28 2
2014-06-10 3
2013-10-17 1
2019-03-16 34
2017-11-18 11
2015-06-09 5
2017-08-14 14
2018-07-27 23
2018-04-07 13
2015-06-15 4
2015-09-26 13
2018-09-21 18
2017-08-19 16
2017-01-03 31
2019-03-11 30
2016-09-26 10
2016-06-27 16
2018-11-10 15
2016-01-07 8
2015-11-14 4
2015-06-26 6
2013-06-30 1
2015-11-13 3
2017-11-20 12
2018-11-28 8
2018-01-07 14
2014-09-12 1
2017-12-28 16
2019-01-12 11
2015-01-07 1
2016-11-06 8
2015-11-10 7
2016-10-08 6
2014-12-26 2
2012-12-12 1
2017-06-09 8
2016-05-24 6
2019-03-02 16
2015-01-03 10
2014-07-13 2
2018-10-13 22
2016-10-12 7
2017-10-18 5
2013-11-09 2
2016-03-30 8
2019-04-17 21
2017-05-24 9
2015-09-27 18
2017-09-10 8
2018-05-16 8
2018-05-11 10
2016-02-29 4
2013-06-28 1
2014-09-06 1
2015-11-05 3
2018-10-29 32
2018-07-20 5
2015-07-19 4
2018-05-02 10
2015-12-08 3
2017-12-06 8
2018-10-25 22
2017-09-16 8
2015-03-25 1
2017-07-03 10
2015-03-30 2
2016-10-17 6
2019-04-11 29
2016-08-18 7
2017-08-02 9
2018-11-27 20
2018-02-12 5
2016-06-10 6
2016-10-16 13
2015-01-05 3
2019-01-29 11
2018-05-06 19
2014-06-27 1
2018-06-10 24
2019-02-01 18
2018-06-26 10
2018-10-14 33
2019-02-03 15
2018-12-21 19
2016-11-11 2
2018-12-09 44
2018-09-08 13
2013-04-09 1
2016-08-20 12
2014-09-24 2
2013-08-01 1
2018-03-31 24
2014-10-05 2
2018-05-29 14
2015-10-29 7
2018-08-12 27
2015-08-05 2
2018-07-03 6
2014-05-27 3
2016-10-26 4
2017-08-26 16
2015-10-15 3
2017-06-19 14
2017-06-03 5
2017-05-31 16
2018-07-28 23
2018-09-27 11
2017-12-02 8
2018-10-06 23
2019-03-08 14
2014-10-02 1
2017-12-07 6
2016-10-14 5
2016-05-28 12
2015-09-12 3
2015-01-09 1
2017-09-29 11
2015-01-01 8
2016-04-01 10
2017-05-21 25
2016-08-23 16
2016-08-17 6
2018-07-07 16
2019-02-19 13
2016-07-04 12
2016-01-27 4
2018-08-30 10
2014-07-12 1
2013-05-24 1
2019-01-13 21
2016-11-07 8
2016-11-30 4
2015-09-22 6
2017-07-24 15
2015-05-17 3
2019-01-23 14
2018-10-17 9
2018-08-25 22
2016-08-19 4
2014-10-12 4
2017-06-22 10
2018-07-01 33
2016-09-27 7
2015-07-01 6
2018-12-02 33
2015-08-01 9
2017-08-18 13
2017-06-29 13
2017-12-14 7
2019-01-08 18
2015-03-16 2
2014-08-13 1
2015-12-19 6
2014-05-17 1
2017-08-20 17
2017-01-16 6
2016-09-19 19
2018-09-11 17
2015-10-09 6
2018-08-20 25
2018-01-31 6
2019-03-10 42
2018-11-30 27
2016-09-04 7
2015-04-03 2
2018-12-08 23
2015-12-20 4
2018-04-21 9
2017-09-07 8
2016-05-29 8
2016-08-27 12
2019-03-29 28
2017-12-03 16
2013-11-21 1
2016-01-30 1
2013-10-09 1
2018-08-18 23
2014-08-23 1
2017-05-28 18
2013-09-06 1
2016-05-18 10
2016-08-22 17
2018-10-03 18
2018-10-12 11
2019-01-25 21
2017-12-20 10
2019-04-03 19
2016-07-05 14
2016-07-25 23
2013-09-07 1
2014-10-20 2
2015-09-01 11
2013-09-28 1
2016-05-04 6
2017-10-28 10
2018-05-01 1
2019-02-04 8
2018-09-23 34
2016-06-29 11
2017-07-19 7
2016-12-13 3
2016-09-21 10
2014-09-01 3
2018-11-07 10
2017-05-04 4
2013-09-16 1
2016-09-24 7
2018-02-18 10
2015-09-04 4
2017-03-31 6
2019-02-18 39
2019-02-22 11
2014-04-02 1
2018-05-30 10
2016-07-09 5
2015-12-01 13
2014-01-05 1
2015-03-18 1
2014-02-03 1
2017-09-06 4
2014-04-23 2
2015-12-23 8
2017-04-15 8
2017-05-11 4
2014-07-21 1
2019-01-30 11
2018-03-07 4
2017-11-25 24
2014-08-10 1
2015-06-01 1
2016-10-01 11
2019-04-09 30
2019-01-24 8
2019-02-07 12
2017-09-22 10
2018-11-18 21
2016-07-12 4
2016-08-05 6
2017-09-04 39
2016-04-11 7
2015-11-21 3
2017-01-07 8
2017-12-04 3
2016-10-18 5
2017-12-17 9
2016-10-31 13
2015-09-10 2
2014-09-28 1
2016-06-13 17
2018-08-01 15
2018-07-19 9
2017-06-11 15
2014-10-19 3
2014-02-01 1
2018-08-28 20
2017-10-23 23
2016-02-12 3
2016-07-29 13
2018-04-08 16
2016-07-03 5
2015-02-06 2
2016-03-08 3
2015-12-11 2
2016-09-11 16
2016-06-05 10
2016-09-07 9
2015-07-13 5
2018-04-29 21
2016-03-13 9
2016-02-20 3
2019-02-26 17
2018-03-16 7
2017-06-06 5
2017-10-24 6
2013-12-15 1
2016-05-06 5
2018-08-08 13
2018-11-11 27
2015-03-23 2
2014-10-14 1
2015-10-26 15
2016-02-27 4
2017-05-06 5
2017-01-15 7
2016-10-04 7
2015-09-06 11
2014-06-21 1
2016-06-26 16
2014-11-01 1
2016-08-16 13
2015-10-14 7
2015-12-17 3
2014-08-03 1
2018-12-06 13
2016-08-06 12
2016-06-20 11
2015-07-25 5
2014-12-19 1
2018-11-23 15
2018-06-01 12
2016-04-04 6
2016-09-25 9
2016-11-14 6
2015-08-20 5
2014-09-30 1
2018-05-04 15
2014-01-02 3
2015-05-08 1
2016-03-25 3
2014-08-01 1
2016-09-22 9
2016-01-15 2
2018-01-08 11
2016-10-10 20
2016-06-11 7
2016-01-06 20
2016-04-09 2
2018-05-31 14
2015-07-23 6
2019-03-14 12
2016-06-07 8
2019-01-22 10
2014-01-03 2
2016-08-28 21
2016-09-06 13
2014-09-07 1
2013-12-14 1
2014-08-19 2
2018-07-13 12
2017-07-25 7
2015-05-30 2
2018-07-17 12
2016-12-30 17
2016-03-20 6
2017-02-20 7
2016-06-01 7
2017-09-20 13
2018-02-28 6
2018-07-25 8
2015-05-19 9
2017-08-30 8
2015-12-14 9
2018-01-23 4
2017-12-21 4
2014-11-30 1
2015-06-22 5
2017-04-07 4
2014-06-02 1
2017-03-08 6
2017-01-29 4
2018-01-05 18
2015-04-21 1
2015-02-17 1
2016-11-05 7
2016-12-22 4
2018-06-27 13
2018-09-28 27
2016-11-21 5
2015-12-06 7
2018-03-10 3
2016-05-15 11
2014-01-04 1
2015-08-04 4
2017-06-26 8
2016-08-25 13
2018-04-23 8
2017-05-23 6
2017-12-25 6
2019-02-09 11
2014-09-29 1
2016-04-07 2
2014-09-14 3
2016-07-31 27
2018-07-29 39
2015-06-08 3
2014-04-21 2
2018-01-06 15
2016-02-24 3
2014-06-26 1
2014-08-20 2
2016-03-29 4
2014-08-24 1
2014-08-18 2
2018-07-14 11
2016-11-27 21
2015-06-21 4
2015-11-19 2
2015-12-27 17
2016-06-15 5
2018-08-11 28
2015-03-11 1
2016-06-02 8
2015-02-22 2
2019-03-05 15
2018-09-17 17
2015-05-04 4
2017-10-22 21
2015-10-20 7
2018-07-21 14
2016-01-12 3
2017-09-15 21
2016-07-11 6
2018-04-24 6
2017-03-13 2
2015-07-22 5
2016-05-26 6
2018-04-14 5
2016-07-28 10
2015-05-10 2
2017-11-06 16
2015-04-30 2
2016-09-12 5
2017-10-31 14
2017-02-07 2
2017-10-30 20
2018-04-22 27
2015-04-06 1
2017-12-18 12
2018-11-29 2
2014-04-11 1
2014-08-28 4
2016-02-21 8
2017-12-01 7
2014-05-02 1
2018-06-20 9
2015-08-18 2
2016-07-16 6
2018-03-28 6
2017-10-01 19
2017-03-05 5
2014-03-28 1
2014-04-24 1
2019-01-09 21
2016-10-13 5
2016-12-12 3
2016-05-30 14
2016-08-13 13
2015-11-06 5
2017-11-12 14
2016-01-08 4
2016-04-30 5
2015-02-25 1
2014-08-07 1
2018-09-09 28
2015-04-14 1
2017-11-14 3
2014-10-13 1
2014-05-05 1
2014-04-17 1
2016-12-11 14
2014-05-29 1
2016-03-23 6
2016-10-27 6
2018-05-25 10
2018-06-08 8
2018-01-15 10
2014-04-19 1
2015-04-26 1
2017-04-28 6
2018-02-22 3
2014-10-04 1
2015-09-05 4
2016-05-22 11
2017-11-24 10
2015-04-25 2
2017-11-11 7
2014-07-15 1
2015-11-15 5
2015-08-12 5
2015-05-01 1
2017-08-31 19
2015-12-25 3
2018-07-18 9
2015-04-22 1
2015-10-21 6
2015-07-28 6
2018-04-27 4
2014-06-13 1
2015-10-16 2
2016-03-24 10
2017-04-20 4
2016-12-19 3
2016-09-15 6
2017-04-23 9
2015-06-18 6
2017-02-04 3
2014-06-14 1
2015-02-21 1
2018-05-15 10
2014-08-25 2
2018-06-15 9
2017-10-20 9
2016-11-29 7
2015-04-02 2
2015-08-11 5
2015-06-30 2
2016-08-31 11
2018-10-04 10
2014-08-17 1
2016-10-28 8
2015-07-31 4
2015-11-12 3
2018-06-02 8
2016-10-20 2
2017-04-22 4
2014-08-15 1
2014-07-10 1
2014-12-22 1
2017-08-07 11
2016-12-06 8
2015-10-17 5
2014-05-24 1
2015-06-19 3
2016-09-29 6
2016-03-09 4
2018-06-21 7
2017-09-23 9
2014-09-27 1
2015-01-11 1
2015-02-12 1
2016-07-26 9
2018-05-17 7
2016-10-24 12
2018-03-23 7
2014-09-17 1
2018-03-03 5
2017-05-09 6
2017-03-02 4
2015-07-11 3
2017-09-02 11
2015-01-12 1
2019-02-24 26
2019-03-18 24
2016-12-16 6
2017-09-11 7
2018-11-15 15
2018-12-24 18
2016-08-14 16
2017-09-03 20
2015-06-06 3
2016-07-30 10
2018-02-27 5
2017-10-29 13
2016-06-30 8
2015-08-03 6
2016-10-06 4
2018-04-05 5
2015-09-14 9
2017-03-04 3
2017-01-09 3
2016-04-17 9
2015-01-30 1
2018-03-20 8
2015-09-15 6
2017-11-30 9
2018-07-15 22
2016-12-01 5
2018-08-13 20
2015-12-09 5
2014-10-24 2
2016-11-10 4
2016-09-09 5
2019-04-05 12
2014-08-09 1
2015-09-24 3
2014-07-28 1
2018-05-24 12
2016-06-21 3
2014-11-02 2
2016-11-22 1
2014-12-30 1
2014-08-05 1
2014-07-11 1
2016-03-19 5
2015-06-05 4
2017-10-09 18
2016-05-11 6
2016-01-17 6
2017-03-10 2
2018-08-06 18
2016-03-22 5
2016-11-01 12
2016-05-19 9
2016-06-24 4
2015-07-26 3
2016-08-02 7
2017-04-26 3
2017-07-04 10
2016-04-29 4
2014-09-20 1
2018-11-21 9
2016-01-25 2
2014-08-27 1
2016-02-22 4
2018-03-15 11
2015-01-04 6
2016-06-17 9
2019-02-02 14
2017-01-04 24
2016-08-08 16
2015-11-07 4
2015-08-21 6
2015-11-04 2
2017-05-15 4
2014-09-15 1
2014-10-22 2
2015-06-17 4
2016-09-13 6
2017-09-19 9
2016-09-10 10
2016-01-16 4
2018-12-23 19
2016-09-17 9
2016-04-08 6
2018-11-20 14
2015-05-07 3
2014-08-16 1
2016-05-27 3
2017-05-13 9
2016-06-19 9
2018-05-27 14
2016-10-25 2
2014-08-30 1
2018-02-01 6
2017-04-27 5
2015-09-16 6
2017-07-06 4
2016-05-10 5
2015-06-24 2
2015-07-15 5
2015-09-13 7
2015-09-19 5
2017-07-16 10
2017-09-14 8
2017-07-28 9
2014-12-08 2
2015-09-29 10
2017-02-10 1
2014-10-17 1
2018-11-05 37
2014-09-18 1
2018-10-01 24
2017-03-26 6
2018-02-11 5
2017-08-24 11
2015-05-26 3
2014-10-08 1
2015-04-07 1
2015-12-03 5
2015-10-30 7
2017-06-23 6
2014-09-25 1
2014-09-21 1
2017-11-02 6
2016-04-05 4
2017-05-12 5
2016-04-02 6
2016-10-05 3
2015-06-07 3
2015-05-24 3
2016-09-20 4
2017-12-27 15
2015-01-15 1
2018-03-30 3
2019-03-06 13
2015-07-10 3
2014-09-23 1
2016-05-03 2
2018-08-04 17
2017-02-01 3
2014-11-28 1
2017-08-05 8
2016-07-02 10
2015-05-05 3
2016-04-15 2
2016-01-21 3
2014-10-27 1
2014-11-09 2
2016-04-19 4
2015-05-03 1
2016-07-07 2
2014-12-27 2
2015-11-27 6
2014-10-11 1
2018-01-26 2
2015-06-10 1
2018-06-18 8
2016-11-28 10
2016-05-17 6
2017-04-12 5
2019-01-17 15
2016-06-22 5
2018-12-14 21
2014-11-14 1
2015-03-27 1
2016-11-17 1
2015-11-28 9
2017-11-22 5
2015-10-25 3
2014-11-04 1
2014-11-15 1
2015-08-10 7
2016-03-16 3
2016-08-24 9
2018-02-10 4
2016-04-12 2
2018-12-25 15
2016-09-08 4
2017-11-19 10
2016-06-04 7
2016-07-08 9
2016-06-12 13
2017-01-06 5
2015-01-06 2
2017-06-27 4
2016-07-14 3
2018-05-12 13
2018-04-11 6
2016-11-23 4
2015-10-22 5
2018-07-10 11
2017-08-27 22
2017-10-27 9
2016-04-10 2
2015-08-24 10
2017-08-08 9
2015-06-02 3
2016-02-07 3
2015-03-17 2
2016-07-19 10
2016-04-26 4
2016-03-02 2
2015-08-30 3
2019-03-20 21
2017-10-16 10
2017-06-04 11
2017-01-11 4
2018-02-14 3
2017-01-08 8
2017-09-26 14
2015-02-16 1
2017-11-23 2
2018-06-12 8
2017-07-23 12
2015-08-22 5
2015-02-04 1
2017-09-17 14
2016-04-14 3
2015-08-09 8
2017-10-17 9
2018-03-14 5
2016-02-10 1
2017-06-02 9
2018-10-16 10
2016-02-18 1
2015-09-09 6
2015-02-05 1
2016-09-02 4
2018-04-13 9
2016-12-25 5
2018-07-11 3
2017-01-10 4
2016-10-19 6
2015-01-10 1
2017-06-25 13
2016-04-13 5
2016-07-24 11
2016-02-04 1
2015-03-22 2
2016-07-20 10
2015-07-08 1
2016-12-21 3
2015-09-18 6
2017-07-22 5
2017-06-08 6
2017-06-16 9
2018-07-02 16
2017-07-12 3
2016-05-08 7
2016-06-14 11
2017-10-25 10
2018-11-24 36
2015-04-01 3
2016-02-01 5
2017-06-17 4
2017-05-10 2
2015-02-20 2
2017-01-17 4
2018-01-14 9
2018-06-14 12
2015-02-23 2
2015-01-18 1
2018-12-18 18
2015-01-21 1
2015-11-11 4
2019-03-03 25
2016-02-16 3
2015-03-05 1
2016-10-23 18
2017-05-17 4
2016-07-17 6
2018-02-17 3
2018-02-26 6
2015-08-27 6
2018-05-20 23
2015-02-28 1
2015-05-16 1
2016-06-08 6
2018-04-12 8
2015-03-06 1
2015-07-09 2
2018-12-13 7
2015-03-10 1
2016-09-03 6
2016-09-30 8
2015-03-14 1
2018-03-08 6
2015-04-24 1
2016-10-21 4
2016-12-15 3
2016-08-07 13
2015-03-21 1
2017-02-21 4
2015-10-03 5
2017-04-05 2
2017-03-25 6
2015-04-09 1
2018-01-20 4
2016-08-01 22
2016-02-25 4
2015-04-27 1
2015-11-09 4
2015-04-08 2
2018-05-23 7
2017-09-28 8
2015-04-12 1
2017-01-23 5
2018-10-02 22
2017-12-22 15
2017-06-13 4
2017-07-15 5
2016-01-20 6
2017-03-01 5
2017-10-12 4
2018-03-19 13
2018-02-19 12
2015-09-02 8
2017-08-16 8
2019-04-16 33
2015-12-21 6
2018-01-27 4
2015-12-05 4
2015-05-22 2
2015-05-13 1
2015-06-11 2
2017-09-08 8
2018-04-18 3
2016-01-31 7
2016-07-21 8
2018-11-08 12
2015-06-20 2
2015-07-02 4
2017-01-14 6
2015-08-26 5
2015-12-16 5
2015-05-06 1
2019-02-25 12
2019-03-26 14
2016-04-03 2
2017-05-27 8
2015-08-14 6
2015-06-29 4
2015-06-27 3
2018-06-17 15
2017-01-19 3
2016-05-13 6
2017-04-10 6
2017-07-14 5
2015-05-29 2
2015-05-18 1
2016-06-18 5
2015-07-05 3
2016-08-10 9
2018-01-18 4
2017-04-06 2
2016-03-28 10
2015-07-30 1
2017-02-28 4
2015-06-13 1
2015-06-16 2
2015-07-18 2
2018-04-16 11
2017-06-15 4
2019-02-10 20
2017-08-04 9
2018-03-04 5
2017-09-18 6